@font-face {
  font-family: myFirstFont;
  src: url(../Professional\ Services\ –\ Tractor_files/BYekan+.ttf);
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: myFirstFont;
}
@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(-20px);
  }
}
.navbar-nav {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;

  a img:hover {
    filter: opacity(0.6) drop-shadow(0 0 0 #0c95ec);
  }
  a svg:hover {
    filter: opacity(0.3) drop-shadow(0 0 0 #0c95ec);
  }
  .btn:hover {
    position: relative;
    overflow: hidden;
  }
}

a:hover {
  color: #0c95ec !important;
}
div {
  .carousel-inner {
    height: 80vh;
  }
  .card-img-overlay {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.6));
    text-align: center;
    h5,
    p {
      padding-top: 9rem;
    }
  }
}
.fourColCards {
  align-items: baseline;
  .col {
    padding: 4rem;
  }
  .card {
    text-align: center;
    align-items: center;
    border: none;
    &:hover {
      animation-name: bounce;
      animation-timing-function: ease;
      animation-duration: 1s;
      img {
        border-color: #0c95ec;
      }
    }
  }
  img {
    border-radius: 50%;
    border-width: 0.3rem;
    border-color: transparent;
    border-style: solid;
    width: max-content;
    padding: 1rem;
  }
}
.img-mask {
  width: 100%;
  height: 80vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-mask-image: linear-gradient(hsla(0, 0%, 98%, 0.842));
  mask-image: linear-gradient(hsla(0, 0%, 98%, 0.842));
  position: relative;
}
.img-mask .row {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 80vh;
  margin: 0;
  text-align: center;
  padding: 8rem;
  background-color: hsla(0, 0%, 98%, 0.842);
  color: rgb(9, 9, 9);
}

.img-mask h2,
.img-mask p {
  margin: 0;
  padding: 0;
  color: rgb(8, 8, 8);
}
.besideMaskImg {
  width: 100%;
  height: 80vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0;
  margin: 0;
}
footer {
  padding: 10rem 5rem;
  li {
    list-style: none;
  }
}
